.container {
    border: 1px solid var(--err-400);
    border-radius: var(--border-radius);
    padding: 10px;
    margin: 10px;
    background-color: var(--err-50);
    position: absolute;
    top: 0;
    right: 0;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    font-weight: 500;
}
.container > p {
    color: var(--err-900);
    font-size: 0.9rem;
}
.errorIcon {
    color: var(--err-900);
    font-size: 1.2rem;
}
