.container {
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-400);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    position: relative;
}
.dateTime {
    color: var(--neutral-600);
    font-weight: 600;
    font-size: 0.8rem;
}
.container > p {
    color: var(--neutral-800);
    padding-top: 10px;
    font-weight: 500;
}
.separator {
    height: 1px;
    background-color: var(--neutral-400);
    margin: 10px 0px;
}
